<!DOCTYPE html>
<html lang="en">

<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  
  <title>Sunset/Sunrise times</title>
</head>

<body>
  <form method="post"/>
  <div class="hero-unit">
    <a href="/" style="text-decoration: none">
      <h1>Sunset/Sunrise times</h1>
    </a>
    <br>
    <h2>Enter location</h2>

    <!-- errorID = ""control-group success"", or "" -->
    <div class="{{errorID}}">
      <div class="controls">
        <input type="text" class="input-xlarge"  name="location" value="{{location}}" placeholder="new york">
        <span class="help-inline">{{msg}}</span>
      </div>
    </div>
    
    <button class="btn btn-large btn-primary" type="submit">Submit</a>
  </div>

  <div class="plot">
    <script src="/d3/d3.v3.js"></script>
    <script type="text/javascript">
      var JSONstr = '{{JSONdata|safe}}'
    </script> 
    <script src="/js/plot_sunsetsunrise.js"></script>
  </div>
  </form> 

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
